#content {
	display:flex;
	flex-wrap:wrap;
}
.card {
	display:flex;
	flex-direction:column;
	margin-right:10px;
	margin-left:10px;
	height:auto;
	width:8%;
}

.cardName {
	font-size:24px;
	font-weight:400;
}