#content {
	display:flex;
	height:100%;
}
#cards {
	display:flex;
	flex-wrap:wrap;
	width:80%;
}
#menu {
	display:flex;
	left:80%;
	border-left: 1px #000 solid;
	position:fixed;
	flex-direction:column;
	height:100%;
	padding:1% 0 0 5%;
	width:15%;
}
.card {
	display:flex;
	flex-direction:column;
	margin-right:10px;
	margin-left:10px;
	height:fit-content;
	width:10%;
	padding:6px;
}
.hidden {
	display:none;
}
.cardAbility {
	background-color:#ffebcd;
	padding-top:5px;
	padding-bottom:5px;
}

.card:hover {
	background-color:#ddd;
}
.card:active {
	background-color:#bbb;
}

.header, .cardName {
	font-size:24px;
	font-weight:bold;
}
.menuContent {
	margin-top:20px;
}

.menuContent > div {
	margin-bottom:20px;
}